@import 'base';
@import '~normalize.css/normalize';

@import 'components/code_area';
@import 'components/navbar';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.header {
  font-family: $lato;
  font-size: 3.4rem;
  margin: 20px 0 20px 0;
}

.navbar {
  margin-bottom: 0px;
}
